annotated-doc==0.0.4
beautifulsoup4==4.14.3
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.18
markdown-it-py==4.2.0
mdurl==0.1.2
pillow==12.2.0
psutil==7.2.2
Pygments==2.20.0
python-dateutil==2.9.0.post0
python-whois==0.9.6
reportlab==4.5.1
requests==2.34.2
rich==15.0.0
shellingham==1.5.4
six==1.17.0
soupsieve==2.8.4
typer==0.26.7
typing_extensions==4.15.0
urllib3==2.7.0
